<div class="dialog">
  <h1 class="dialog-title" mat-dialog-title>
    {{title}}
  </h1>
  <div mat-dialog-content>
    <ul class="dialog-list">
      <li>
        <mat-form-field appearance="fill" class="dialog-list-item">
          <mat-label>Имя пользователя</mat-label>
          <input matInput [(ngModel)]="data.name">
          <button *ngIf="data.name" matSuffix mat-icon-button aria-label="Clear" (click)="data.name=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field appearance="fill" class="dialog-list-item">
          <mat-label>Login пользователя</mat-label>
          <input matInput [(ngModel)]="data.login">
          <button *ngIf="data.login" matSuffix mat-icon-button aria-label="Clear" (click)="data.login=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </li>
      <li *ngIf="!data.id">
        <mat-form-field appearance="fill" class="dialog-list-item">
          <mat-label>Пароль</mat-label>
          <input matInput [(ngModel)]="data.password">
          <button *ngIf="data.password" matSuffix mat-icon-button aria-label="Clear" (click)="data.password=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field appearance="fill" class="dialog-list-item">
          <mat-label>Роль пользователя</mat-label>
          <mat-select
            [(value)]="roleControl"
          >
            <mat-option [value]="0">None</mat-option>
            <mat-option
              *ngFor="let role of roles"
              [value]="role.id"
            >
              {{role.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close class="dialog-actions-close">Закрыть</button>
    <button
      mat-button
      (click)="save()"
      class="dialog-actions-send"
    >
      Сохранить
    </button>
  </div>
</div>

