body {
  background: #0E1422CC;
}

.container {
  /* max-width: 1250px;
  margin: 0 auto; */
}

.button {
  background: #ffa700;
  color: #ffffff;
  padding: 19px 89px;
  border-radius: 0.625rem;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.button:disabled {
  background: gray;
  cursor: not-allowed;
}